# database
dbURI=
REDIS=127.0.0.1:6379/4

#reddit api client
REDDIT_REDIRECT_URI=https://place.com/login/reddit
REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=

#discord api client
DISCORD_REDIRECT_URI=https://place.com/login/discord
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=